$widget-container-bgc: #183153;
$widget-body-bgc: white;
$widget-header-bgc: #515e7b;

.widgetContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  min-width: 200px;
  min-height: 100px;
  resize: both;
  box-shadow: 1px 1px 5px #2a2d35;
  border: 2px solid $widget-container-bgc;
  border-radius: 7px;
  background-color: $widget-container-bgc;
  strong {
    z-index: 2;
  }
  .widgetHeader {
    background-color: $widget-container-bgc;
    color: $widget-body-bgc;
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    box-shadow: 6px -15px 11px 8px rgba(0, 0, 0, 0.75);

    .widgetTitle {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: unset;
    }
    .widgetCustomize {
      width: 66px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .circle {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        margin: 3px;
        position: relative;
        svg {
          color: #0000003d;
          width: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &.maximizeWidget {
          background: #efb62c;
          &:hover {
            background: #bf9224;
          }
          &:active {
            background: #876309;
          }
        }
        &.closeWidget {
          background: #ea423f;
          &:hover {
            background: #9c2a28;
          }
          &:active {
            background: #4a1312;
          }
        }
      }
    }
  }
  .widgetBody {
    height: 100%;
    padding: 10px;
    border-radius: 7px;
  }
}
