//color
@primary-color        : #3b3957;
@secondary-color      : #80ffdb;
@menu-item-active-bg : #1d314271;
@border-radius-base   : 6px;
@gray : rgb(126, 126, 126);
@primary-transparent-1: ~ "@{primary-color}3b";
@primary-transparent-2: ~ "@{primary-color}94";
@primary-transparent-3: ~ "@{primary-color}db";


