


.iconApp{
    margin-right: 10px;
}

.header{
    flex-grow: 1;
    height: $header-height;
    position: relative;
    .spacingBetween{
        flex-grow: 1;
    }
    .buttonSidebar{
        margin-left: 16px;
    }

}
