html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mapContainer{
  height: 100%;
  width: 100%;
}
.webmap {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 80%;
}

.drawpolyline {
  position: absolute;
  top: 0;
}

.widgetContainer {
  width: 20%;
  height: 100%;
  position:absolute;
  top: 0;
  right:  0;
}
.baseMapGalery{
  
  width: 100%;
  height: 100%;
  background-color: rgb(182, 182, 236);
}