@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');


$header-height: 56px;

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'DM Sans', sans-serif;
  
  @import "./layouts/header/header.scss";
  @import "./layouts/sidebar/sidebar.scss";


  .mapContainer {
    height: calc(100% - #{$header-height});
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: gray;
    display: flex;
    .widgetList {
      height: 100%;
      width: 100%;
    }
    .webmap {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
    @import "./layouts/widgetLayout/widget.scss";
  }
}
